.lead {
    max-width: calc(1280px - 296px);
    margin: 0 auto 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1279.5px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media screen and (max-width: 1023.5px) {
    .lead {
        width: calc(100% - 24px);
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767.5px) {
    .lead {
        width: calc(100% - 16px);
        margin-bottom: 64px;
    }
}