.header {
    display: flex;
    max-width: calc(1280px - 96px);
    margin: 0 auto 56px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .header {
        width: calc(100% - 96px);
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 32px);
    }
}