.footer__link {
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023.5px) {
  .footer__link {
    font-size: 16px;
    margin-right: 18px;
  }
}

@media screen and (max-width: 767.5px) {
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
  .footer__link:not(:last-of-type) {
    margin-bottom: 32px;
  }
}