.cover {
  width: calc(1280px - 96px);
  margin: 0 auto 92px;
  min-height: 740px;
}

@media screen and (max-width: 1279.5px) {
  .cover {
    margin: 0 0 92px;
    width: 100%;
    min-height: calc(100vw * 0.625);
  }
}

@media screen and (max-width: 1023.5px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767.5px) {
  .cover {
    margin-bottom: 64px;
  }
}