.intro__stats {
    margin: 0 0 33px 0;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    max-width: 690px;
}

@media screen and (max-width: 1023.5px) {
    .intro__stats {
        max-width: 100%;
    }
}

@media screen and (max-width: 767.5px) {
    .intro__stats {
        margin-bottom: 34px;
    }
}