.cover__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 740px;
    text-decoration: none;
    position: relative;
}

.cover__background::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media screen and (max-width: 1279.5px) {
    .cover__background {
      min-height: calc(100vw * 0.625);
    }
  }