.footer {
  max-width: calc(1280px - 96px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1279.5px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023.5px) {
  .footer {
    max-width: calc(100% - 48px);
    flex-direction: row;
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 767.5px) {
  .footer {
    max-width: calc(100% - 32px);
    margin: 64px auto 0;
    flex-direction: column;
  }
}