.place__url-heading {
    margin: 0 0 12px 0;
    font-family: "Inter", Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
    text-decoration: none;
    text-transform: capitalize;
}