.place__website {
    display: flex;
    flex-direction: column;
    max-width: 456px;
    margin-left: 40px;
    margin-bottom: 48px;
}

@media screen and (max-width: 1279.5px) {
    .place__website {
        margin-left: 32px;
    }
}

@media screen and (max-width: 1023.5px) {
    .place__website {
        margin-left: 28px;
    }
}

@media screen and (max-width: 767.5px) {
    .place__website {
        margin-left: 0;
    }
}